* {
    font-family: "Alata";
    font-family: "Josefin Sans";
}

header {
    background-color: blueviolet;
    width: 100%;
    height: 50px;  //Voir si B de changer + mettre en em
    display: flex;
    flex-direction: column;  //Vérif si c'est bon
    background-image: url("assets/images/mobile/image-hero.jpg");
    background-position: cover;
}

h1 {
    font-family: "Tilt Neon";
    font-size: 15px;
    color: white;
    
}

/*
.menuBurger {
    height: 1em;
    width: 1em;

}*/